.home-container{
  position: static;
  height: 100%;
}

.posts-container{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 200px; 
  max-width: 680px;
  height: 100%;
  margin-left: 32%;
  box-sizing: content-box;
}

.post-main{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.main-home{
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.left-sidebar{
  position: fixed;
  width: 20%;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sidebar-option{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  box-sizing: content-box;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.sidebar-option > img{
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.sidebar-option:hover{
  background-color: #dfe3ee;
}

.contacts-title{
  color: grey;
  font-weight: 600;
}



.contacts-container{
  position: fixed;
  display: flex;
  flex-direction: column;
  
  right: 0;
  margin-right: 10px;
  margin-left: 100px;
  width: 15%;
  row-gap: 10px;
}

.contact-option{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  width: 100%;
  box-sizing: content-box;
  padding: 5px;
  border-radius: 10px;
}

.contact-option:hover{
  background-color: #dfe3ee;
}

.contact-option > img{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  
}



@media screen and (max-width: 690px){
  .left-sidebar{
    display: none;
  }

  .posts-container{
    margin-left: 0;
    justify-content: center;
    width: 80%;
  }

  
}

@media screen and (max-width: 450px){
  .contacts-container{
    display: none;
  }

  .posts-container{
    display: flex;
    justify-content: center;
    width: 98%;
  }
  
}

