.home-container{
  position: static;
  height: 100%;
}

.posts-container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  box-sizing: content-box;
  margin: 0 auto;
}

.post-main{
  display: flex;
  flex-direction: column;
  min-width: 420px;
  max-width: 680px;
  width: 100%;
  margin-top: 15px;
}

.main-home{
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.left-sidebar{
  display: flex;
  flex-direction: column;
  position: fixed;
  gap: 5px;
  width: 15%;
  height: 100%;
  margin-left: 5px;
}

.sidebar-option{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  box-sizing: content-box;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.sidebar-option > img{
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.sidebar-option:hover{
  background-color: #dfe3ee;
}

.contacts-title{
  color: grey;
  font-weight: 600;
}


.contacts-container{
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  width: 15%;
}

.contact-option{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  width: 100%;
  box-sizing: content-box;
  padding: 5px;
  border-radius: 10px;
  color: black;
}

.contact-option:hover{
  background-color: #dfe3ee;
}

.contact-option > img{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  
}



@media screen and (max-width: 690px){
  .left-sidebar{
    display: none;
  }

  .posts-container{
    margin-left: 0;
    justify-content: center;
    width: 80%;
  }

  
}

@media screen and (max-width: 450px){
  .contacts-container{
    display: none;
  }

  .posts-container{
    display: flex;
    justify-content: center;
    width: 98%;
  }
  
}

