.main-home{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.left-sidebar{
  position: relative;
  top: 85px;
  display: flex;
  flex-direction: column;
  
}